* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-text;
  color: $text-color;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
  font-family: $font-family-title;
  transition: $main-transition;
}

img {
  border-style: none;
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: $font-family-title;
  margin: 0;
  font-weight: 600;
}

.container-fluid {
  padding: 0 5%;
}

.section {
  margin-top: 60px;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

.main-button {
  height: 37px;
  background-color: transparent;
  border: 2px solid currentColor;
  border-radius: 8px;
  box-shadow: none;
  color: currentColor;
  cursor: pointer;
  font-family: $font-family-title;
  font-size: $font-size-md;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0 20px;
  position: relative;
  text-decoration: none;
  transition: $main-transition;

  &.thicker {
    border: 3px solid currentColor;
    font-weight: 700;
  }

  &:hover {
    color: $dark-orange-color;
  }
}

.title {
  font-family: $font-family-title;
  text-transform: uppercase;
}

.field {
  display: flex;
  flex-direction: column;
  font-family: $font-family-title;

  label {
    font-size: $font-size-xs;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  input {
    background-color: $white-color;
    border: 0;
    border-radius: 8px;
    font-size: $font-size-xs;
    padding: 12px;
    height: 37px;
    font-family: $font-family-title;
    min-width: 220px;

    &::placeholder {
      font-family: $font-family-title;
      color: $medium-background;
    }

    &[type='email'] {
      min-width: 320px;
    }
  }
}
