$font-family-title: 'Exo', sans-serif;
$font-family-text: 'Open Sans', sans-serif;

$text-color: #585856;
$white-color: #ffffff;
$orange-color: #f9a500;
$dark-orange-color: #e96704;
$green-color: #25d366;

$dark-background: #585856;
$medium-background: #91908e;
$light-background: #f1f1f1;

$font-size-lg: 2rem;
$font-size-lm: 1.75rem;
$font-size-ml: 1.125rem;
$font-size-md: 1rem;
$font-size-me: 0.875rem;
$font-size-xs: 0.75rem;

$line-height-xs: 1rem;

$main-transition: 0.3s;
