$font-family-title: 'Exo', sans-serif;
$font-family-text: 'Open Sans', sans-serif;

$text-color: #585856;
$white-color: #ffffff;
$orange-color: #f9a500;
$dark-background: #585856;
$light-background: #91908e;

$font-size-lg: 2rem;
$font-size-xs: 0.75rem;
$font-size-md: 1rem;
$line-height-xs: 1rem;

$main-transition: 0.3s;
